afp-2026-02-06/
afp-2026-02-06.tar.gz
/docs/
.DS_Store
*~
\#*\#
tmp/
Mechanical_Mathematics/
~$*
*.class
*.jar
papers/*.aux
papers/*.fdb_latexmk
papers/*.fls
papers/*.log
papers/*.out
papers/*.synctex.gz
papers/EPQ.tex
